@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

*{
    font-family: 'Sawarabi Mincho';
}

body{
    height: 100%;
    padding: 0;
    margin: 0px;
    padding-top: 120px;
    background-color: #FEF8E5;
}

/*Cabecera*/
header{
    position: fixed; /* O 'absolute' si no quieres que sea fija al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    justify-content: space-between;
    align-items: center;
}

#logo_cabecera{
    width:200;
    height: 77px;
}

#botones_derecha{
    margin-right: 20px;
    display: flex;
}

#boton_receta{
    margin-right: 20px;
}

header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #66645f;
    font-size: 1vw;
}

.icon{
    width: 32px;
}

main{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

/*Categoria*/
.lateral {
    position: fixed;
    top: 130px; /* Para dejar espacio debajo del header */
    left: 0;
    width: 20%; /* Ajusta según sea necesario */
    height: calc(100vh - 110px); /* Para ocupar el alto restante de la pantalla */
    overflow-y: auto; /* Permitir scroll si el contenido es muy grande */
    padding: 10px;
}

.lateral nav{
    width: 80%;
    flex-direction: column;
}

section>nav{
    justify-self: center;
    width: 90%;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 7px;
}

.lateral a{
    text-decoration: none;
    color: #66645f;
    font-size: 1.25vw;
}

/*Lista*/
.lista {
    margin-top: 1%;
    margin-left: 22%; /* Deja espacio para la sección lateral */
    width: 75%; /* Ajusta el ancho para que no quede muy pegado al borde derecho */
}

section h1{
    width: 100%;
    justify-self: center;
    text-align: center;
    background-color: #FFDC71;
    border: #D4B75D solid 1px;
    margin: 0;
    padding-top:5px;
    padding-bottom:5px;
}

section>div{
    justify-self: center;
    width: 90%;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 7px;
    margin-bottom: 2%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #F2E3AD;
    border-radius: 25px;
    padding: 10px;
}

article img{
    padding: 0;
    margin: 0;
    border-radius: 15px;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: black;
}

/*Pie*/
footer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border:solid,1px, #C3C3C3;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

footer p{
    padding: 0;
    margin: 0;
    justify-self: center;
    text-align: center;
    color: #66645f
}