header{
    display: flex;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
}

#logo_cabecera{
    width:250px
    
}

header a{
    display: flex;
    align-items: center;
}

.icon{
    width: 32px;
}

body{
    background-color: #FEF8E5;


}

article{

    background-color: #F2E3AD;
}

#recetadia{

    background-color: #FFF1C6;
    border-radius: 20px;
    border:solid,1px, #B9A977;
}

footer{

    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
}

a{
    text-decoration: none;
    color: #66645f
}

footer p{

    color: #66645f
}