@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

* {
    font-family: 'Sawarabi Mincho';
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #FEF8E5;
    font-size: 25px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

/*Cabecera*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    width: 300px;
}

nav a {
    text-decoration: none;
    color: #66645f;
    margin: 0 10px;
    font-size: 1vw;
}

.icon {
    width: 32px;
}

.cont1,.cont2{ 
    gap: 10px;
}


.cont1 a:hover,.cont2 a:hover{
    border-bottom: 5px solid #FFDC71;
    transition: 0.3s;
}

/*Main*/


main {
    flex: 1;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px;
    border-radius: 10px;
}

.info {
    justify-self: center;
    width: 90%;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    gap:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-top: 7px;
}


.info label {
    font-weight: bold;
    font-size: 30px;
}

section h1{
    border-radius: 10px;
    width: 85vw;
    justify-self: center;
    text-align: center;
    background-color: #FFDC71;
    border: #D4B75D solid 1px;
    margin: 0;
    padding: 20px;
}

p{
    color: #66645f;
    font-size: 20px;
}

.tabla caption{
    font-size: 30px;
}

.tabla{
    align-self: center;
    background-color: #FEF8E5;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/*footer*/

footer {
    margin-top: 20px;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    text-align: center;
    padding: 35px;
}

footer p {
    font-size: 1.3vw;
}

.cont1,.cont2{ 
    gap: 10px;
}

.cont1 a:hover,.cont2 a:hover{
    border-bottom: 5px solid #FFDC71;
    /*border-bottom:5px solid #FFDC71;*/
    transition: 0.3s;
        }

@media (max-width: 1000px) {

    header{
        display: flex;
        flex-direction: column;
    }

    .logo{
        order:1;
    }
    .cont1{
        order: 2;
    }

    .cont2{
        width: 9em;
        order:3;
    }

    .cabecera{
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .cont1,.cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    
    .cont1 a:hover,.cont2 a:hover{
        border-bottom:5px solid #FFDC71;
        transition: 0.3s;
    }

    .info img{
        font-size: 15px;
    }

    .info label{
        font-size: 15px;
    }

    p{
        font-size: 10px;
    }

    nav a {
        font-size: 2vw;
    }

    footer p {
        font-size: 2vw;
    }

    body{
        padding-top: 325px;
    }

    .tabla{
        width: 50px;
    }
    .celda_nombre{
        display: none;
    }
}