@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

*{
    font-family: 'Sawarabi Mincho';
}

body{
    height: 100%;
    padding: 0;
    margin: 0px;
    padding-top: 120px;
    background-color: #FEF8E5;
}

/*Cabecera*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    width: 300px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: #66645f;
    margin: 0 10px;
}

.icon {
    width: 32px;
}

.cont1,.cont2{ 
    gap: 10px;
}


.cont1 a:hover,.cont2 a:hover{
    border-bottom: 5px solid #FFDC71;
    transition: 0.3s;
}

/*Categoria*/
.lateral {
    position: fixed;
    top: 130px; /* Para dejar espacio debajo del header */
    left: 0;
    width: 20%; /* Ajusta según sea necesario */
    height: calc(100vh - 110px); /* Para ocupar el alto restante de la pantalla */
    overflow-y: auto; /* Permitir scroll si el contenido es muy grande */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.lateral nav{
    width: 90%;
    flex-direction: column;
}

section>nav{
    justify-self: center;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    align-self: center;
}

.lateral a{
    text-decoration: none;
    color: #66645f;
    font-size: 20px;
}

.lateral ul{
    list-style: none;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.lateral li{
    width: fit-content;
}

.lateral li:hover{
    color: black;
    border-bottom: black solid 3px;
    transition: 0.05s;
}

/*Lista*/
.lista {
    margin-top: 1%;
    margin-left: 22%; /* Deja espacio para la sección lateral */
    width: 75%; /* Ajusta el ancho para que no quede muy pegado al borde derecho */
}

section h1{
    width: 100%;
    justify-self: center;
    text-align: center;
    background-color: #FFDC71;
    border: #D4B75D solid 1px;
    margin: 0;
    padding-top:5px;
    padding-bottom:5px;
}

section>div{
    justify-self: center;
    width: 90%;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 7px;
    margin-bottom: 2%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #F2E3AD;
    border-radius: 25px;
    padding: 10px;
}

article img{
    padding: 0;
    margin: 0;
    border-radius: 15px;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: black;
}

/*Footer*/
footer {
    margin-top: 20px;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    text-align: center;
    padding: 35px;
}

@media (max-width: 1700px) {
    .logo{
        order:1;
    }
    .cont1{
        order: 2;
    }

    .cont2{
        width: 10.5em;
        order:3;
    }

    body{
        font-size: 20px;
    }

    .cabecera{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .cont1,.cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cont1 a:hover,.cont2 a:hover{
        border-bottom:5px solid #FFDC71;
        transition: 0.3s;
    }

    .lateral{
        top:350px
    }
    body{
        padding-top: 340px;
    }
}

@media(max-width:1000px){
    section>div{
        align-items: center;
        flex-direction: column;
    }

    article{
        margin-bottom: 4%;
        width: 90%;
    }
    h1{
        font-size: 20px;
    }
    li{
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    h1{
        font-size: 15px;
    }
    .lateral a{
        font-size: 15px;
    }
}