body {
    font-family: Arial, sans-serif;
    background-color: #FAF3E0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header nav {
    background-color: #f0e9b1;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

nav .logo{
    width: 250px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: bold;
}

.icon{
    width: 32px;
}

main{
    padding: 30px;
    margin: 25px;
    flex:1;
    background-color: #f5efbf;
    border-radius: 10px;
}

main .ingredientes{
    background-color: #f0e9b1;
    padding: 10px;
    border-radius:10px ;
}

main .ingredientes ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

main .ingredientes h2{
    text-align: center;
}

main img{
    width: 55%;
    border-radius: 10px;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f2c6;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.info label {
    font-weight: bold;
}

footer {
    margin-top: 20px;
    background-color: #f0e9b1;
    padding: 10px;
    text-align: center;
    padding: 15px;
}
