@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

*{
    font-family: 'Sawarabi Mincho';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

body{
    background-image: url('../imgs/fondo_login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-top: 50px;
    padding-bottom: 50px;*/

    /*min-height: 100vh;*/
}

.formulario{
    background-color: #FEF8E5;
    display: flex;
    flex-direction: column;
    width: 25em;
    height: fit-content;
    padding: 2%;
    border-radius: 20px;
    padding-bottom: 2.5%;
}

h1{
    align-self: center;
    font-size: 30px;
}

a{
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
}

label{
    font-size: 20px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    height: fit-content;
}

.input input{
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
}

input{
    height: 2em;
    font-size: 20px;
}

#containerGenero{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#labelGenero{
    width: 100%;
}

.containerCheckbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.boton{
    background-color: #FFDC71;
    border-color: #D4B75D;
    border-right-color: #D4B75D;
    border-bottom-color: #D4B75D;
    font-size: 20px;
    border-radius: 10px;
}

@media (max-width:430px) {
    .formulario{
        width: 100%;
    }
}

@media (max-height:900px){
    #bodyRegistro {
        justify-content: flex-start;
    }
}

@media (max-height:500px){
    body {
        justify-content: flex-start;
    }
}

@media (max-height:500px){
    body {
        justify-content: flex-start;
    }
}

