@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

*{
    font-family: 'Sawarabi Mincho';
}

a{
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body{
    padding-top: 120px;
    background-color: #FEF8E5;
}



/*Cabecera*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    width: 300px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: #66645f;
    margin: 0 10px;
}

.icon {
    width: 32px;
}

.cont1,.cont2{ 
    gap: 10px;
}


.cont1 a:hover,.cont2 a:hover{
    border-bottom: 5px solid #FFDC71;
    transition: 0.3s;
}

/*Main*/
main{
    flex: 1;
    margin: 0 20% 0 20%;
    
}

/*Seccion Introduccion*/
.seccion_introduccion{
    justify-self: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 30px;
}

.seccion_introduccion p{
    font-size: 20px;
}

/*Seccion Recetas*/

.seccion_receta h1{
    width: 100%;
    justify-self: center;
    text-align: center;
    background-color: #FFDC71;
    border: #D4B75D solid 1px;
    margin: 0;
    padding-top:5px;
    padding-bottom:5px;
}

.seccion_receta #lista_receta{
    justify-self: center;
    width: 90%;
    background-color: #FFF1C6;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:solid,1px, #B9A977;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 7px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #F2E3AD;
    border-radius: 25px;
    padding: 10px;
}

article:hover{
    transition-duration: 75ms;
    width: 31%;
}

article.recetas_dia img{
    padding: 0;
    margin: 0;
    border-radius: 15px;
    width: 100%;
}
article.recetas_dia h3{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
    color: black;
}
article.recetas_dia p{
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 10vw;
    color: #66645f;
}

/*Pie*/

footer {
    margin-top: 20px;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: #66645f;
}

@media (max-width: 1700px) {
    main{
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 0;
    }

    .seccion_introduccion{
        width: 95%;
    }

    .logo{
        order:1;
    }
    .cont1{
        order: 2;
    }

    .cont2{
        width: 9em;
        order:3;
    }

    body{
        font-size: 20px;
    }

    .cabecera{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .cont1,.cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cont1 a:hover,.cont2 a:hover{
        border-bottom:5px solid #FFDC71;
        transition: 0.3s;
    }

    body{
        padding-top: 325px;
    }
}

@media(max-width:1150px){
    section>div{
        align-items: center;
        flex-direction: column;
    }
    article{
        margin-bottom: 4%;
        width: 90%;
    }
    h1{
        font-size: 30px;
    }
    article:hover{
        transition-duration: 75ms;
        width: 91%;
    }
}

@media (max-width:660px) {
    article{
        height: 25em;
    }
}
