@font-face {
    font-family: 'Sawarabi Mincho';
    src: url(../fonts/SawarabiMincho-Regular.ttf);
}

*{
    font-family: 'Sawarabi Mincho';
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


body {
    font-size: 1vw;
    background-color: #FEF8E5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
}

/*Cabecera*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    width: 300px;
}

nav a {
    text-decoration: none;
    color: #66645f;
    margin: 0 10px;
}

.icon {
    width: 32px;
}

.cont1,.cont2{ 
    gap: 10px;
}


.cont1 a:hover,.cont2 a:hover{
    border-bottom: 5px solid #FFDC71;
    transition: 0.3s;
}


/*Main*/

main{
    padding: 30px;
    margin: 25px;
    flex:1;
    background-color: #FFF1C6;
    border:solid,1px, #B9A977;
    border-radius: 10px;
}

main .container{
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

main .columna-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.recomendacion{
    background-color: #F2E3AD;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.recomendacion h2{
    text-align: center;
    margin-bottom: 20px;
}

li, p {
    color: #66645f;
}

main .ingredientes{
    background-color: #F2E3AD;
    padding: 10px;
    border-radius:10px ;
    margin-bottom: 40px;
}

main .ingredientes ul{
    padding: 0;
    width: 45%;
}

main .ingredientes h2{
    text-align: center;
}

main img{
    width: 55%;
    border-radius: 10px;
}

.lista-ingredientes{
    display: flex;
    justify-content: space-between; 
    width: 1500px;
    padding: 25px;
    margin: 0 auto;
    align-items: center;
}

.lista-ingredientes-tortilla{
    display: flex;
    justify-content: space-between; 
    width: 500px;
    padding: 25px;
    margin: 0 auto;
    align-items: center;
}

ol{
    padding: 55px;
}

/*Footer*/

footer {
    margin-top: 20px;
    background-color: #F2E3AD;
    border:solid,1px, #C3C3C3 ;
    text-align: center;
    padding: 35px;
}

@media (max-width: 1700px) {

    .logo{
        order:1;
    }
    .cont1{
        order: 2;
    }

    .cont2{
        width: 9em;
        order:3;
    }

    body{
        font-size: 20px;
        padding-top: 325px;
    }

    .cabecera{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .cont1,.cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cont1 a:hover,.cont2 a:hover{
        border-bottom:5px solid #FFDC71;
        transition: 0.3s;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .columna-descripcion{
        width: 100%;
        gap: 50px;
    }

    .lista-ingredientes{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .container img{
        width: 60%;
    }

}

@media (max-width: 688px) {

    .logo{
        order:1;
    }
    .cont1{
        order: 2;
    }

    .cont2{
        width: 9em;
        order:3;
    }

    body{
        font-size: 20px;
        padding-top: 325px;
        padding-left: 0;
        padding-right: 0;
    }

    .cabecera{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .cont1,.cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cont1 a:hover,.cont2 a:hover{
        border-bottom:5px solid #FFDC71;
        transition: 0.3s;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .columna-descripcion{
        gap: 50px;
        margin-top: -100px;
    }
   
    .lista-ingredientes{
        
        gap: 40px;
        width: 100%;
    }

    .container img{
        width: 60%;
    }
    .lista-ingredientes-tortilla{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }
    .container img{
        width: 100%;
        
        
    }
}